<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>File_Upload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet Class 정의 -->
	  		<servlet>
	  			<display-name>downloadAction</display-name>
	  			<servlet-name>downloadAction</servlet-name>
	  			<servlet-class>file.downloadAction</servlet-class>
	  		</servlet>
	  	<!-- Servlet Mapping 설정 -->
	  		<servlet-mapping>
	  			<servlet-name>downloadAction</servlet-name>
	  			<url-pattern>/downloadAction.do</url-pattern>
	  		</servlet-mapping>
</web-app>